@import "tiktok.css";

@font-face {
    font-family: "PingFang SC";
    src: url("https://cdn.lifanko.cn/fonts/PingFangSC-Regular.woff2");
}

body {
    width: 90%;
    min-width: 995px;
    margin: 0 auto;
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 0 1.5pc;
    background: url("../img/bg.png") fixed;
    font-size: 17px;
    letter-spacing: 0.022em;
    line-height: 20px;
    max-height: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

header {
    height: 70px;
    border-radius: 5px;
}

header img {
    height: 70px;
    float: left;
    margin-left: 1pc;
    margin-right: 1pc;
}

header, .videolist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(221, 221, 221, 0.5);
}

header ul li {
    float: left;
    list-style: none;
    line-height: 70px;
}

header ul li a {
    padding: 0 15px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

header ul li:hover, .active {
    background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}

header ul li:hover a {
    color: whitesmoke;
}

.donate {
    background-image: linear-gradient(135deg, #f9a4e2 10%, #90c1f3 100%);
    color: black;
    padding: 0 10px;
}

#searchli {
    float: right;
    background-color: rgba(204, 204, 204, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-left: 14px;
    height: 30px;
    color: #F40;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
}

#searchText {
    display: inline-block;
    padding: 0 1pc;
    margin-left: -0.5pc;
}

#searchText img {
    margin: 0;
    height: 34px;
    position: relative;
    top: 11px;
}

#holder {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    left: 15px;
    top: 54px;
    z-index: 1;
}

#holder_list {
    display: none;
    padding: 5px;
}

#holder li {
    float: none;
    font-size: 14px;
    line-height: 16px;
    padding: 6px;
    cursor: pointer;
}

#holder li b {
    color: #F40;
}

#tip {
    text-align: center;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 6px 2px;
    border-radius: 2px;
}

#history {
    position: fixed;
    right: 2pc;
    top: 370px;
}

.float_btn {
    background-color: rgba(221, 221, 221, 0.7);
    padding: 7px 12px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 #777;
    border-radius: 3px;
    transition: all 0.5s 0s;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

@media screen and (max-width: 768px) {
    #history {
        display: none !important;
    }
}

#history-tip {
    position: absolute;
    border: none;
    box-shadow: 1px 1px 5px 0 #777;
    right: -300px;
    height: 306px;
    background-color: #ddd;
    width: 255px;
    transition: all .3s 0s;
    padding: 0;
    border-radius: 5px;
}

#history:hover #history-tip {
    right: 0;
}

.ad {
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 5px;
    color: #FFF;
    border-radius: 5px;
    margin: 15px 0;
}

.inform {
    background-image: linear-gradient(135deg, #f9a4e2 10%, #90c1f3 100%);
    font-size: 20px;
    padding: 15px 2pc;
    border-radius: 5px;
    display: inline-block;
}

.inform a {
    color: blue;
}

/*feedback*/
#f-box {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.f-pos {
    position: fixed;
    left: calc(50% - 290px);
    top: calc(50% - 270px);
}

.feedback {
    width: 580px;
    height: 395px;
    border: 1px solid #ddd;
}

#feedback_btn {
    position: fixed;
    right: 2pc;
    top: 312px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #feedback_btn {
        display: none !important;
    }
}
