@font-face {
    font-family: "PingFang SC";
    src: url("https://cdn.lifanko.cn/fonts/PingFangSC-Regular.woff2");
}

html {
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(100%);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    html {
        -webkit-transform: translateZ(0);
    }
}

body {
    width: 80%;
    min-width: 995px;
    margin: 0 auto;
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 0 1.5pc;
    background: url("../img/springbg.png") fixed;
    font-size: 17px;
    letter-spacing: 0.022em;
    line-height: 20px;
}

header {
    height: 70px;
    border-radius: 5px;
}

header img {
    height: 70px;
    float: left;
    margin-left: 1pc;
    margin-right: 1pc;
}

header, .videolist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(221, 221, 221, 0.5);
}

header ul li {
    float: left;
    list-style: none;
    line-height: 70px;
}

header ul li a {
    padding: 0 15px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

header ul li:hover, .active {
    background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}

header ul li:hover a {
    color: whitesmoke;
}

#searchli {
    float: right;
    background-color: rgba(204, 204, 204, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-left: 1.5pc;
    height: 30px;
    color: #F40;
    padding: 0 5px;
    outline: none;
}

#searchText {
    display: inline-block;
    padding: 0 1pc;
    margin-left: -0.5pc;
}

#searchText img {
    margin: 0;
    height: 34px;
    position: relative;
    top: 11px;
}

#tip {
    text-align: center;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 6px 2px;
    border-radius: 2px;
}

.history {
    position: fixed;
    right: 2pc;
    top: 40%;
    opacity: .5;
}

.history:hover {
    opacity: 1;
}

.btn-history {
    background-color: rgba(221, 221, 221, 0.7);
    padding: 7px 12px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 #777;
    border-radius: 5px;
    transition: all 0.5s 0s;
}

@media screen and (max-width: 768px) {
    .btn-history {
        display: none !important;
    }
}

.fra-history {
    position: absolute;
    border: none;
    box-shadow: 1px 1px 5px 0 #777;
    right: -300px;
    height: 340px;
    background-color: #ddd;
    width: 245px;
    transition: all .3s 0s;
    padding: 0;
    border-radius: 0;
}
