body {
    width: 80%;
    min-width: 995px;
    margin: 0 auto;
    /*noinspection CssNoGenericFontName*/
    font-family: "Microsoft JhengHei UI";
    padding: 0 1.5pc;
    background-color: #eee;
}

h3 {
    color: #000;
    border-bottom: 1px #555 solid;
    line-height: 2pc;
    margin-bottom: 0;
}

.list li {
    float: left;
    background-color: #555;
    margin: .5pc 2pc .5pc 0.5pc;
    border-radius: 3px;
    transition: all 0.3s 0s;
}

.list a {
    display: inline-block;
    padding: 0.5pc 1pc;
    color: whitesmoke;
    text-decoration: none;
}

.list li:hover {
    background-image: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%);
}

.list li:hover a {
    text-decoration: underline;
    color: #000;
}

header {
    height: 70px;
    border-radius: 5px;
}

header img {
    height: 70px;
    float: left;
    margin-left: 1pc;
    margin-right: 0.5pc;
}

header, .videolist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ddd;
}

header ul li {
    float: left;
    list-style: none;
    line-height: 70px;
}

header ul li a {
    padding: 0 18px;
    color: #000;
    font-weight: bold;
    display: inline-block;
}

header ul li:hover {
    background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}

header ul li:hover a {
    color: whitesmoke;
}

#searchli {
    float: right;
    background-color: #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-left: 1.5pc;
    height: 30px;
    color: #F40;
    padding: 0 5px;
    outline: none;
}

#QQGroup {
    text-align: center;
    background-color: #ddd;
    padding: 6px 2px;
    border-radius: 2px;
}