.cat ul {
    list-style: none;
    padding: 0;
}

.cat ul li {
    float: left;
    background-color: #ddd;
    width: 5%;
    text-align: center;
}

.cat ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cat ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cat ul li a {
    color: #ff6d70;
    font-weight: bold;
    display: inline-block;
    padding: 1pc;
}

.cat ul li:hover {
    background-color: #ff4645;
}

.cat ul li:hover a {
    color: whitesmoke;
}

.movie h3 {
    border-bottom: 1px #eee solid;
    margin-bottom: 0;
}

.movie ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.movie ul li {
    float: left;
    width: 14%;
    overflow: hidden;
    margin: 0.666%;
    padding: 0.666%;
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
}

.movie img {
    width: 100%;
}

#score {
    position: absolute;
    top: 4%;
    left: 3%;
    background-color: rgba(255, 70, 69, 0.9);
    color: whitesmoke;
    font-size: 12px;
    padding: 1px 5px;
}

#year {
    position: absolute;
    right: 3%;
    bottom: 5%;
    background-color: rgba(51, 51, 51, 0.9);
    color: whitesmoke;
    font-size: 12px;
    padding: 1px 3px;
}