h3 {
    border-bottom: 1px solid #777;
    padding-bottom: 8px;
}

#parsers {
    float: right;
}

#parsers a {
    cursor: pointer;
    margin: 0 !important;
}

.container ul {
    list-style: none;
    padding-left: 0;
}

.container ul li {
    float: left;
}

.videoS, #parsers a {
    color: #eee;
    background-color: #0071e3;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 11px;
    border-radius: 3px;
    margin: 0 .2pc;
}

.container ul li a {
    font-size: 12px;
    color: black;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 5px 10px;
    margin: 3px 5px;
    display: inline-block;
    line-height: 15px;
}

.videoA:hover {
    color: #795548;
    background-color: #FFEB3B;
    font-weight: bold;
}

/*noinspection CssUnusedSymbol*/
#cookie {
    color: #795548;
    font-weight: bold;
    background-color: #FFEB3B;
}

.player {
    width: 80%;
    margin: 1pc auto;
}

iframe {
    width: 100%;
    border: none;
    background-color: rgba(221, 221, 221, 0.9);
    padding: 1pc;
    border-radius: 5px;
    margin-left: -1pc;
}
