h3 {
    border-bottom: 1px solid #777;
    padding-bottom: 8px;
}

#parsers {
    float: right;
}

#parsers a {
    cursor: pointer;
    color: white !important;
    text-shadow: 0 0 1px white;
}

.container ul {
    list-style: none;
    padding-left: 0;
}

.container ul li {
    float: left;
}

.videoA, #parsers a {
    color: #eee;
    background-color: #0071e3;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 8px;
    border-radius: 3px;
    margin: 0 .2pc;
    cursor: pointer;
    text-decoration: underline;
}

.container ul li a {
    font-size: 12px;
    color: black;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 5px 10px;
    margin: 3px 5px;
    display: inline-block;
    line-height: 15px;
}

.videoA:hover {
    color: #795548;
    background-color: #FFEB3B;
    font-weight: bold;
}

.player {
    width: 80%;
    margin: 1pc auto;
}

iframe {
    width: 100%;
    border: none;
    background-color: rgba(220, 220, 220, 0.9);
    padding: .5pc;
    border-radius: 5px;
    margin-left: -0.5pc;
}

#cookie {
    color: #795548;
    font-weight: bold;
    background-color: #FFEB3B;
    position: relative;
    display: inline-block;
}

#cookie #tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    bottom: 120%;
    left: 50%;
    width: 100px;
    margin-left: -60px;
    font-size: 12px;
}

#cookie #tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

#tooltip {
    display: none;
}

.hover {
    display: block !important;
}

#cookie:hover #tooltip {
    display: block;
}

#qus {
    position: absolute;
    top: 140px;
    right: 2pc;
    color: #F40;
}

#qus:hover #que-tip {
    display: block;
}

#qus-btn {
    background-color: rgba(221, 221, 221, 0.7);
    padding: 7px 12px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 #777;
    border-radius: 3px;
    transition: all 0.5s 0s;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#que-tip {
    border-radius: 3px;
    position: absolute;
    right: 0;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 297px;
    margin-top: 5px;
    transition: all 0.5s 0s;
    display: none;
}
