body {
    width: 80%;
    min-width: 995px;
    margin: 0 auto;
    /*noinspection CssNoGenericFontName*/
    font-family: "Microsoft JhengHei UI";
    padding: 0 1.5pc;
    background: url("../img/springbg.png") fixed;
}

header {
    height: 70px;
    background-color: #5FB2D7;
    border-radius: 5px;
}

header img {
    height: 70px;
    float: left;
    margin: 0 1pc;
}

header, .videolist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(221, 221, 221, 0.7);
}

header ul li {
    float: left;
    list-style: none;
    line-height: 70px;
}

header ul li a {
    padding: 0 20px;
    color: #000000;
    font-weight: bold;
    display: inline-block;
}

header ul li:hover {
    background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}

header ul li:hover a {
    color: whitesmoke;
}

#searchli {
    float: right;
    background-color: rgba(221, 221, 221, 0.7);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-left: 1.5pc;
    height: 30px;
    color: #F40;
    padding: 0 5px;
    outline: none;
}

.container ul {
    list-style: none;
}

.container ul li {
    float: left;
}

.container ul li a {
    font-size: 12px;
    color: black;
    background-color: rgba(221, 221, 221, 0.7);
    padding: 5px 10px;
    margin: 3px 5px;
    display: inline-block;
}

/*noinspection CssUnusedSymbol*/
#cookie {
    background-color: #FCC;
}

.player {
    width: 80%;
    margin: 1pc auto;
}

iframe {
    width: 100%;
    border: none;
    background-color: rgba(221, 221, 221, 0.7);
    padding: 1pc;
    border-radius: 5px;
    margin-left: -1pc;
}

button {
    cursor: pointer;
}

#QQGroup {
    text-align: center;
    background-color: rgba(221, 221, 221, 0.7);
    padding: 6px 2px;
    border-radius: 2px;
}