body {
    width: 80%;
    min-width: 995px;
    margin: 0 auto;
    /*noinspection CssNoGenericFontName*/
    font-family: "Microsoft JhengHei UI";
    padding: 0 1.5pc;
}

header {
    height: 70px;
    background-color: #5FB2D7;
    border-radius: 5px;
}

header img {
    height: 70px;
    float: left;
    margin: 0 1pc;
}

header, .videolist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

header ul li {
    float: left;
    list-style: none;
    line-height: 70px;
}

header ul li a {
    padding: 0 20px;
    color: #ff4645;
    font-weight: bold;
    display: inline-block;
}

header ul li:hover {
    background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}

header ul li:hover a {
    color: whitesmoke;
}

#searchli {
    float: right;
    background-color: #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-left: 1.5pc;
    height: 30px;
    color: #F40;
    padding: 0 5px;
    outline: none;
}

.search h3 {
    border-bottom: 1px #eee solid;
    line-height: 2pc;
    margin-bottom: 0;
}

.search ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.search ul li {
    float: left;
    width: 14%;
    overflow: hidden;
    margin: 0.666%;
    padding: 0.666%;
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
}

.search img {
    width: 100%;
}

#type {
    position: absolute;
    top: 4%;
    left: 3%;
    background-color: rgba(255, 70, 69, 0.9);
    color: whitesmoke;
    font-size: 12px;
    padding: 1px 5px;
}

#name {
    position: absolute;
    right: 3%;
    bottom: 5%;
    background-color: rgba(51, 51, 51, 0.9);
    color: whitesmoke;
    font-size: 12px;
    padding: 1px 3px;
}

#QQGroup {
    text-align: center;
    background-color: #eee;
    padding: 6px 2px;
    border-radius: 2px;
}